html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

*:not(input):not(textarea) {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.pushable > .pusher {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh) !important;
  background-color: #f6f6f6 !important;
}

main {
  flex: 1 0 auto;
  margin-top: 8em;
  padding-bottom: 3em;
}

main section {
  background: #fff;
  box-shadow: 0 1px 2px #ccc;
}

#footer {
  flex: 0 1 auto;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 3em;
  background-color: #2e3235 !important;
  .ui.horizontal.list {
    > .item {
      line-height: 1.4;
    }
  }
}

.account-summary {
  .ui.items {
    > .item {
      line-height: 1.2;
      font-size: 1.3rem;
      .email {
        text-decoration: underline;
      }
      .fullname,
      .since {
        margin-top: 0.8em;
      }
    }
  }
}

/* Change in semantic */
.ui.items > .item > .image + .content {
  padding-left: 2em;
}

.ui.header.logo {
  font-size: 2em;
  margin-bottom: 1em;
}

.ui.button {
  &.clipboard {
    transition: color 0.5s ease-in,
      background-color 0.5s ease-in cubic-bezier(0.175, 0.885, 0.32, 1.275);
    &.copied {
      color: white !important;
      background-color: blue !important;
      font-size: 14px;
      margin: 0;
      padding: 0;
    }
  }
}

#login-container.ui.container,
#lost-container.ui.container,
#reset-container.ui.container {
  max-width: 480px !important;
}

#password-container.ui.container {
  max-width: 360px !important;
}

.ui.visible.left.overlay.sidebar {
  background-color: #2e3235 !important;
}

/* Button to changes to make in semantic */

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: unset !important;
}

.ui.icon.buttons .button,
.ui.icon.button {
  padding: 0.5em 0.5em 0.5em !important;
}

.ui.labeled.icon.buttons .button,
.ui.labeled.icon.button {
  padding-top: 0.78571429em !important;
  padding-bottom: 0.78571429em !important;
}

.ui.button.trash {
  background-color: pink;
}

.ui.button.trash {
  &:hover {
    background-color: red;
    svg.icon.trash {
      fill: white;
    }
  }
}

.icon.chevron-down.open {
  transform: rotate(0deg);
  transition: transform 100ms ease-in-out;
}

.icon.chevron-down.closed {
  transform: rotate(-90deg);
  transition: transform 150ms ease-in-out;
}

svg.icon {
  &.trash {
    width: 18px !important;
    height: 18px !important;
    fill: black;
  }

  &.edit,
  &.play,
  &.link {
    width: 23px !important;
    height: 23px !important;
  }

  &.tiles,
  &.timer {
    width: 48px !important;
    height: 48px !important;
  }
}

/* Textarea style additions */

.ui.form textarea {
  margin-top: 0.75em !important;
}

.ui.form textarea[disabled] {
  opacity: 0.45;
}

/* Label component styling - to override semantic ui */

.ui.cards {
  .ui.card.match-card {
    display: inline-flex !important; /* Allows for controlling vertical growth of card sections */
    .content {
      &.match-card-header {
        display: flex;
        flex-direction: row;
        justify-items: center;
        min-height: 5em;
        flex-grow: 1;
        > .header {
          flex-grow: 1; /* Needed to push delete button to end */
          align-self: center;
          padding: 0.5em;
        }
        button {
          flex: 0 0 32px;
          max-height: 32px;
        }
      }
      &.match-card-desc,
      &.match-card-btns {
        flex-grow: 0;
      }
    }

    .ui.label {
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: transparent !important;
      border: none !important;
      .icon {
        margin-right: 0.75em;
      }
      .detail {
        font-size: 1.25em !important;
        margin-left: unset !important;
        color: rgba(0, 0, 0, 0.6);
      }
      svg.icon {
        width: 22px;
        height: 22px;
        fill: rgba(0, 0, 0, 0.6);
      }
    }
    .ui.buttons {
      .ui.button:not(:last-child) {
        border-right: 1px inset rgba(0, 0, 0, 1);
      }
    }
  }
}

#login-container,
#lost-container {
  .ui.message {
    width: 100%;
  }
}

#checkout-container {
  margin: 0 auto;
  max-width: 450px;

  .ui.message {
    margin-right: 1em;
    margin-left: 1em;
  }
}

/* Semantic form styling */

form#match-edit.ui.form {
  .ui.accordion:first-of-type {
    margin-bottom: 1rem;
  }

  .inline.fields {
    justify-content: space-between;
  }

  .match-tip {
    font-size: 0.9em;
    padding-top: 1em;
    line-height: 1;
    text-align: left;
    color: #ccc;
  }

  #match-id {
    position: absolute;
    bottom: -1rem;
    right: 0;
    color: #ccc;
  }
}

/* Form Specific */

form#checkout {
  &.ui.form {
    .ui.input,
    .ui.radio.checkbox,
    .input-feedback,
    .input-feedback.error {
      font-family: Arial, Helvetica, sans-serif;
    }
    .ui.segment {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  *::placeholder {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: rgba(34, 36, 38, 0.3);
  }

  .ui.header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .fields:last-of-type {
    margin-top: 2em;
    justify-content: center;
  }
}

form#register > .fields:last-of-type,
form#account > .fields:last-of-type,
form#lost > .fields:last-of-type {
  justify-content: flex-end;
}

form#password > .fields:last-of-type,
form#lost > .fields:last-of-type {
  margin-top: 2em;
}

form#login > .fields,
form#password > .fields,
form#reset > .fields {
  justify-content: center;
}

a#google-login {
  display: block;
  width: 191px;
  height: 46px;
  margin: 0 auto;
  text-decoration: none;
  color: transparent;
  border: 0;
  outline: none;
  background: #ffffff url('/img/btn_google_signin_light_normal_web@2x.png')
    no-repeat;
  background-size: 191px 46px;
  /*&:focus,
  &:hover {
    background-image: url('/img/btn_google_signin_light_focus_web@2x.png');
  }*/
  /*&:active,
  &:visited {
    background-image: url('/img/btn_google_signin_light_pressed_web@2x.png');
  }*/
}

form#login {
  a#lost {
    &:hover {
      text-decoration: underline;
    }
  }
}

.ui.form {
  .ui.segments .segment,
  .ui.segment,
  .ui.checkbox,
  .ui.dropdown {
    font-size: inherit !important;
  }
  .ui.accordion {
    .title {
      display: flex;
      flex-direction: row;
      align-items: center;

      :first-child {
        margin-right: 0.3rem;
      }
    }
  }
}

.StripeElement {
  height: 43px;
  padding: 0.67857143em 1em;
  border-radius: 4px;
  border: 1px solid rgba(34, 36, 38, 0.15);
}

.StripeElement--invalid {
  background: #fff6f6;
  border-color: #e0b4b4;
}

#dashboard {
  .content-wrapper {
    min-height: 50vh;
  }
  .ui.message {
    margin-bottom: 2em;
  }
}

#profile {
  .content-wrapper {
    min-height: 50vh;
  }
  .ui.message {
    margin-bottom: 2em;
  }
}

#register-container .ui.message {
  margin-bottom: 2em;
}

/* Lists */
.icon-menu-list {
  &.ui.selection.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;

    > .item {
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      background-color: none;
      padding: 0.5em 1em;
      margin: 0 1em 0.5em 0;
      border-radius: 0.3em;
      > .content {
        color: rgba(34, 36, 38, 0.15);
        > .header {
          color: rgba(34, 36, 38, 0.15);
        }
      }
    }

    > .item:hover {
      background: rgba(0, 0, 0, 0.01);
    }

    > .item.active {
      background: rgba(255, 255, 255, 1);
      border: 1px solid rgba(34, 36, 38, 0.15);
      > .content {
        color: rgba(0, 0, 0, 1);
        > .header {
          color: rgba(0, 0, 0, 0.8);
        }
      }
    }
  }

  &.ui.horizontal.list:not(.celled) {
    > .item:last-child {
      padding-right: 1em; /*  Need to unset .ui.horizontal.list:not(.celled)>.item:last-child { padding-right: 0 } in semantic ui */
      margin-bottom: 0.5em; /* Need to unset .ui.selection.list .list>.item:last-child, .ui.selection.list>.item:last-child { margin-bottom: 0; } in semantic ui */
    }
  }

  &.ui.horizontal.list {
    > .item:first-child,
    > .item:last-child {
      padding-top: 0.5em; /* Need to reset semantic ui to prevent overriding of this */
      padding-bottom: 0.5em;
    }
  }
  &.ui.horizontal.relaxed.list {
    > .item:not(:last-child) {
      /*margin-right: 1rem; */
    }
  }
}

/* Table container */
#match-table-container {
  min-height: 550px;
  margin-top: 3.7rem;
}

section#intro {
  padding-top: 0;
  font-size: 1.5rem;
}

textarea.editor {
  font-size: 15px;
  line-height: 1.3em;
  height: 120px;
}

.card {
  min-width: 8ch;
  max-width: 30ch;
}

.label {
  font-weight: bold;
  display: block;
}

textarea#matchText {
  width: 100%;
  padding: 10px;
  overflow-y: scroll;
}

.rich-text-editor {
  font-family: 'Roboto', sans-serif;
  color: #000000;
  font-size: inherit;
  line-height: 1.5rem;
  border: none;
  border-radius: 0.26666667rem;
  padding: 1rem 1rem 1.5rem;
  outline: none;
  width: 100;
  display: block;
  height: auto;
}

.rich-text-editor:not([contenteditable='true']) {
  pointer-events: none;
  color: rgba(40, 40, 40, 0.3);
}

/*.format-toolbar {
  display: flex;
  position: relative;
  padding: 1px 18px 17px;
  margin: 0px -20px 20px;
  border-bottom: 2px solid rgb(238, 238, 238);
}*/

/*.rich-text-editor-container {
  display: inline-block;
  max-width: calc(50% - 20px);
  margin: 20px 10px;
  padding: 20px;
  background: white;
}*/

.match-editor {
  position: relative;
}

.toolbar {
  float: right;
}

.format-toolbar {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.format-toolbar button {
  background-color: white;
  padding: 3px 6px;
  color: #4e4e4e;
  margin-right: 3px;
  border-radius: 3px;
  font-size: 1rem;
}

.format-toolbar button svg {
  fill: #d5d5d5;
}

.format-toolbar button:hover,
.format-toolbar button:focus {
  cursor: pointer;
  background-color: red;
  border-color: #222222;
}

.format-toolbar button:hover svg {
  fill: #222222;
}

.button-toolbar {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

/*#match-bank button.labeled:not(.active):not(:hover) {
  background-color: rgba(40, 40, 40, 0.3) !important;
}*/

.error .label {
  color: red;
}

.input-feedback {
  color: #999;
  margin-top: 0.5rem;
  font-size: 0.9em;
  &.error {
    color: red;
  }
}

.animated {
  animation-duration: 0.3s;
  animation-fill-mode: both;
}

.input-group {
  margin-bottom: 1rem;
}

svg.svg-icon {
  vertical-align: middle;
}

@media only screen and (max-width: 767.99px) {
  #match-table-container {
    margin-top: unset;
  }

  /* Lists */
  .icon-menu-list {
    &.ui.selection.list {
      justify-content: space-evenly;
      > .item {
        margin: 0.5em 0;
      }
    }
  }

  .cards {
    .ui.card.match-card {
      .ui.label {
        display: inline-flex;
      }
    }
  }

  .ui.form {
    .fields {
      > .error {
        margin-bottom: 1.3em !important;
      }

      .field:not(.error) {
        margin-bottom: 1.3em !important;
      }
      /*.ui.input,
      .ui.button,
      .ui.dropdown {
        margin-bottom: 1.3em !important;
      }*/
    }
  }
}
